.roadmap.roadmap--orientation-auto .roadmap__events:after{
    background-color:#65558F;
}
.roadmap.roadmap--orientation-auto .roadmap__events__event:after,.roadmap.roadmap--orientation-auto .roadmap__events__event:before{
    background-color:#65558F;
}
.roadmap.roadmap--orientation-horizontal .roadmap__events:after{
    background-color:#65558F;
}
.roadmap.roadmap--orientation-horizontal .roadmap__events__event:after,.roadmap.roadmap--orientation-horizontal .roadmap__events__event:before{
    background-color:#65558F;
}

.roadmap.roadmap--orientation-auto .roadmap__events__event{
    font-size: 24px;
}

/* Responsive */
@media screen and (max-width: 800px) {
    .roadmap.roadmap--orientation-auto .roadmap__events__event{
        font-size: 16px;
    }
}